Node-Red Flow/flow.json
[{"id":"31791c29.514044","type":"tab","label":"Project ICHD","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"31791c29.514044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":684.4366836547852,"y":129.71834659576416,"wires":[]},{"id":"17f463f1.c7096c","type":"watson-conversation-v1","z":"31791c29.514044","name":"Assistant","workspaceid":"56eb93f1-34bb-4560-8b1b-208534827fb4","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9d0d0197-a45f-4607-9acc-8c4fb575f374","timeout":"","optout-learning":false,"x":561.8629913330078,"y":283.07967948913574,"wires":[["f2f2649a.0d0d98","af7e502d.5c62e"]]},{"id":"3416ee70.12db72","type":"function","z":"31791c29.514044","name":"","func":"msg.payload=\"Welcome \"+msg.payload.name+\"!\" ;\nreturn msg;\n","outputs":1,"noerr":0,"x":409.2140197753906,"y":358.1868095397949,"wires":[["9f43067f.3a9f48"]]},{"id":"af7e502d.5c62e","type":"function","z":"31791c29.514044","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":791.2846755981445,"y":270.6976013183594,"wires":[["d92d691e.cfc668"]]},{"id":"7a113445.a8171c","type":"inject","z":"31791c29.514044","name":"","topic":"Hello!","payload":"I am BOT- Project ICHD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":226.66669082641602,"y":67.00000190734863,"wires":[["f2f2649a.0d0d98"]]},{"id":"c93a3d97.a8ef2","type":"ui_form","z":"31791c29.514044","name":"","label":"Hey! I am AC Bot. Welcome to the World of Smart Automation !!","group":"23eee406.51131c","order":1,"width":"7","height":"12","options":[{"label":"Enter Your Name:","value":"name","type":"text","required":false,"rows":null},{"label":"Enter Your Query:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"name":"","input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":235,"y":155.63395881652832,"wires":[["53517c45.d78ab4","3416ee70.12db72"]]},{"id":"d92d691e.cfc668","type":"ui_text","z":"31791c29.514044","group":"f7ecc23f.d60a4","order":0,"width":"13","height":"12","name":"","label":"Output:","format":"{{msg.payload}}","layout":"col-center","x":831.5956497192383,"y":378.1913113594055,"wires":[]},{"id":"9f43067f.3a9f48","type":"ui_text","z":"31791c29.514044","group":"23eee406.51131c","order":2,"width":0,"height":0,"name":"","label":"Input:","format":"{{msg.payload}}","layout":"row-spread","x":608.7970161437988,"y":436.7058792114258,"wires":[]},{"id":"53517c45.d78ab4","type":"function","z":"31791c29.514044","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":193.40444946289062,"y":369.7303762435913,"wires":[["a0b28ffe.336da","17f463f1.c7096c"]]},{"id":"a0b28ffe.336da","type":"ui_text","z":"31791c29.514044","group":"23eee406.51131c","order":2,"width":0,"height":0,"name":"","label":"Query:","format":"{{msg.payload}}","layout":"row-spread","x":377.7296156553125,"y":448.93259208523455,"wires":[]},{"id":"23eee406.51131c","type":"ui_group","z":"","name":"ICHD BOT","tab":"4817f52e.4c1bac","order":1,"disp":true,"width":"7","collapse":false},{"id":"f7ecc23f.d60a4","type":"ui_group","z":"","name":"RESPONSE","tab":"4817f52e.4c1bac","order":2,"disp":true,"width":"14","collapse":true},{"id":"4817f52e.4c1bac","type":"ui_tab","z":"","name":"Project ICHD","icon":"dashboard","disabled":false,"hidden":false}]